@{
    ViewBag.Title = "Not Found";
}
<!-- Content
================================================== -->
<!-- Container -->
<div class="container">

    <div class="row">
        <div class="col-md-12">

            <section id="not-found" class="center">
                <h2>404 <i class="fa fa-question-circle"></i></h2>
                <p>We're sorry, but the page you were looking for doesn't exist.</p>
            </section>

        </div>
    </div>

</div>
<!-- Container / End -->