@{
    ViewBag.Title = "Server Error";
}
<!-- Content
================================================== -->
<!-- Container -->
<div class="container">

    <div class="row">
        <div class="col-md-12">

            <section id="not-found" class="center">
                <h2>500 <i class="fa fa-question-circle"></i></h2>
                <p>We're sorry, there was a problem. Please contact the site administrator.</p>
            </section>

        </div>
    </div>

</div>
<!-- Container / End -->